:root {
  --height: 4.5rem;

  --space1: 0.5rem;
  --space2: calc(var(--space1) * 2);
  --space3: calc(var(--space1) * 3);
  --space4: calc(var(--space1) * 4);

  --family1: "Nunito", sans-serif;
  --family2: "Rubik", sans-serif;
  --h1: 4em;
  --h2: 3.25em;
  --h3: 2.5em;
  --h4: 1.75em;
  --h5: 1.25em;
  --h6: 1em;
  --strong: 0.85em;
  --p1: var(--h1);
  --p2: var(--h2);
  --p3: var(--h3);
  --p4: var(--h4);
  --p5: var(--h5);
  --p6: var(--h6);
  --span: var(--strong);

  --radius1: 2rem;
  --radius2: 1.25rem;

  --fast: 0.25s;
  --normal: 0.5s;
  --slow: 1s;

  --shadow1: 0px 0px 8px rgba(0, 0, 0, 0.5);
  --shadow2: rgba(0, 0, 0, 0.25) 0px 8px 28px 0px;
  background-color: var(--bg-color);
}
